.blackContainer{background-color: #1a1a1a;padding: 4rem;}
.searchAndData{background-image: linear-gradient(95deg,#333,#212121);border-radius: 16px;min-height: 77vh;position: relative;}
.searchContainer{display: flex; align-items: center;;min-height: 20rem;flex-direction: column;padding: 5rem 0 0 0;}
.searchContainer h2{padding-bottom: 1rem;background: linear-gradient(to right, #F78312 0%, #F44336 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 700;} 
.searchContainer>div{width:25rem;}
.quickAdd{position: absolute;z-index: 1;bottom: 5%; right: 2%;}
.quickAdd button{width: 5rem;height: 5rem; border-radius: 50%;font-size: 1.5rem;color: #fff;background:repeating-linear-gradient(90deg,#f78312,#f44336);text-align: center;}
.addButton{background: #e47100; color: #fff;width: 100%; border-radius: 6px;padding: .5rem; font-weight: 500;}
.meaningsContainer li{display: flex; align-items: center; justify-content: space-between;padding: .5rem 1rem; background-color: #212121;color: #fff;border-radius: 6px;box-shadow:rgba(19, 19, 19, 0.3) 0px 1px 2px 0px, rgba(121, 121, 121, 0.71) 0px 1px 3px 1px}
.meaningsContainer li span{display: flex;gap: 1rem;}
.editButton ,.saveButton,.deleteButton{border-radius: 50%; color: #fff;height: 2rem;width: 2rem;display: flex;justify-content: center;align-items: center;}
.addMeaningBox label{color: #e47100; font-size: 1rem;margin-bottom: .5rem;}
.deleteButton{background-color: #f44336;}
.editButton{background-color: #f49b36;}
.saveButton{background-color: #158a53;}
.addMeaningBox,.addMeaningBox input , .addMeaningBox button{width: 25rem;}
.addMeaningBox input {padding: .5rem;margin-bottom: 1rem;}
